@inherits LayoutComponentBase

<div class="navbar">
    <button class="menu-btn" @onclick="ToggleMenu">☰</button>
    
    <div class="nav-links">
        <a href="C:\Users\modig\ReposProjects\GymShop\GymShopBlazor\Components\Pages\products?category=supplements">Kosttillskott</a>
        <a href="C:\Users\modig\ReposProjects\GymShop\GymShopBlazor\Components\Pages\products?category=clothes">Träningskläder</a>
        <a href="C:\Users\modig\ReposProjects\GymShop\GymShopBlazor\Components\Pages\products?category=equipments">Träningstillbehör</a>
    </div>
    
    <div class="brand">
        <h1>Gym Shop</h1>
    </div>
    
    <div class="search-bar">
        <input type="text" placeholder="Sök produkter..."/>
        <button>🔍</button>
    </div>
    
    <div class="menu-sidebar" style="display: @(isMenuOpen ? "block" : "none")">
        <NavMenu />
    </div>
    
    <main>
        <article class="content px-4">
            @Body
        </article>
    </main>
    
    <div id="blazor-error-ui" data-nosnippet>
        An unhandled error has occurred.
        <a href="" class="reload">Reload</a>
        <span class="dismiss">🗙</span>
    </div>
</div>

@code
{
    private bool isMenuOpen = false;

    private void ToggleMenu()
    {
        isMenuOpen = !isMenuOpen;
    }
}
