@page "/admin"
@inherits LayoutComponentBase

<head>
    <link href="css/admin.css" rel="stylesheet" />
</head>

<div class="admin-nav">
    <NavLink href="/admin/customers" class="admin-nav-link">Kunder</NavLink>
    <NavLink href="/admin/products" class="admin-nav-link">Produkter</NavLink>
    <NavLink href="/admin/orders" class="admin-nav-link">Ordrar</NavLink>
</div>

<main>
    <article class="content px-4">
        @Body
    </article>
</main>

@code {
 
}
