.admin-nav {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.admin-nav-link {
    text-decoration: none;
    color: black;
    font-family: 'Oswald', sans-serif;
    font-weight: 700;
    margin-left: 25px;
    margin-right: 25px;
    font-size: 2rem;
}

    .admin-nav-link:hover,
    .admin-nav-link:active,
    .admin-nav-link:focus {
        color: black;
        text-decoration: underline;
    }

.admin-content {
    padding: 20px;
}


.fixed-table {
    table-layout: fixed;
    width: 100%;
}

    .fixed-table th, .fixed-table td {
        width: 25%;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

