.top-nav-links, .top-navbar-icons {
    display: flex;
    gap: 20px;
}

.navbar {
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: black;
    color: white;
}

    .navbar .navbar-icons {
        display: flex;
        gap: 15px;
        text-decoration: none;
    }

    .navbar .top-navbar-icons .user-icon,
    .navbar .top-navbar-icons .cart-icons,
    .navbar .top-navbar-icons .admin-icon {
        font-size: 2rem;
        padding: 10px;
        text-decoration: none;
    }

        .navbar .top-navbar-icons .user-icon:hover,
        .navbar .top-navbar-icons .cart-icons:hover,
        .navbar .top-navbar-icons .admin-icon {
            color: #b32121;
            text-decoration: none;
        }


    .navbar .top-nav-links a {
        color: white;
        text-decoration: none;
    }

        .navbar .top-nav-links a:hover,
        .navbar .top-nav-links a:active,
        .navbar .top-nav-links a:focus {
            color: white;
            text-decoration: none;
        }

        .navbar .top-nav-links a:first-child {
            font-weight: bold;
        }

            .navbar .top-nav-links a:first-child:hover,
            .navbar .top-nav-links a:first-child:active,
            .navbar .top-nav-links a:first-child:focus {
                color: white;
                background: transparent;
            }

    .navbar .brand a {
        text-decoration: none;
    }

    .navbar .brand h1 {
        color: white;
        text-decoration: none;
        font-weight: bold;
    }

    .navbar .brand a:hover,
    .navbar .brand a:active,
    .navbar .brand a:focus {
        color: white;
        text-decoration: none !important;
    }


@media (max-width: 768px) {
    .top-nav-links {
        display: none;
    }

}
