@using GymShopBlazor.Event
@using Microsoft.AspNetCore.Components.Authorization
@inherits LayoutComponentBase
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject AuthenticationStateNotifier AuthenticationStateNotifier
@inject NavigationManager Navigation
@inject CartService CartService

<head>
    <link href="css/navbar.css" rel="stylesheet" />
</head>

<div class="navbar">
    <div class="top-nav-links">
        <NavLink href="/products">Alla produkter</NavLink>
        <NavLink href="/products?category=clothes">Träningskläder</NavLink>
        <NavLink href="/products?category=supplements">Kosttillskott</NavLink>
        <NavLink href="/products?category=equipments">Träningstillbehör</NavLink>
    </div>

    <div class="brand">
        <NavLink href="/">
            <img src="textlogo.png" alt="Företagslogga" />
        </NavLink>
    </div>

    <div class="top-navbar-icons">
        @if (IsOffline)
        {
            <NavLink href="/login" class="user-icon">
                <img src="user-round.svg" alt="Logga in" />
            </NavLink>

        }
        else
        {
            <NavLink href="/user" class="user-icon">
                <img src="user-round-cog.svg" alt="Användarinformation" />
            </NavLink>
        }
        @if (IsAdmin)
        {
            <NavLink href="/admin" class="admin-icon">
                <img src="folder-cog.svg" alt="Adminsidor" />
            </NavLink>
        }
        else
        {
            <NavLink href="/cart" class="cart-icons">
                <img src="shopping-cart.svg" alt="Varukorg" class="cart-icon" />
                <a class="cart-count">@CartService.CartItems.Count</a>
            </NavLink>
        }
    </div>
</div>

<main>
    <article class="content px-4">
        @Body
    </article>
</main>

@code
{
    public bool IsAdmin = false;
    public bool IsOffline = true;

    protected override async Task OnInitializedAsync()
    {
        await UpdateUserStatusAsync();
        AuthenticationStateNotifier.StateChanged += OnStateChanged;
    }
    private void OnStateChanged()
    {
        _ = UpdateUserStatusAsync();
    }

    private async Task UpdateUserStatusAsync()
    {
        var authenticationState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        var user = authenticationState.User;

        IsAdmin = user.Identity.IsAuthenticated && user.IsInRole("Admin");
        IsOffline = !user.Identity.IsAuthenticated;

        StateHasChanged();
    }

    public void Dispose()
    {
        AuthenticationStateNotifier.StateChanged -= OnStateChanged;
    }
}