@inherits LayoutComponentBase

<nav class="navbar">
    <div class="navbar-container">
        <!-- Meny -->
        <div class="sidebar-nav-links">
            <NavLink href="/products">Alla produkter</NavLink>
            <NavLink href="/products?category=supplements">Kosttillskott</NavLink>
            <NavLink href="/products?category=clothes">Träningskläder</NavLink>
            <NavLink href="/products?category=equipments">Träningstillbehör</NavLink>
        </div>

        <div class="sidebar-navbar-icons">
            <NavLink href="/login" class="user-icon">👤 Logga in</NavLink>
            <NavLink href="/cart" class="cart-icon">🛒 Varukorg</NavLink>
        </div>

    </div>
</nav>