@page "/admin/customers"
@using GymShopBlazor.ApiService
@using GymShopBlazor.Models
@inject UserService UserService

<h3>Användare</h3>

<table class="table">
    <thead>
        <tr>
            <th>Förnamn</th>
            <th>Efternamn</th>
            <th>E-post</th>
            <th>Telefon</th>
        </tr>
    </thead>
    <tbody>
    @foreach (var user in users)
    {
        <tr>
            <td>@user.FirstName</td>
            <td>@user.LastName</td>
            <td>@user.Email</td>
            <td>@user.Phone</td>
        </tr>
    }
    </tbody>
</table>

@code {
    private List<UserResponse> users = new List<UserResponse>();

    protected override async Task OnInitializedAsync()
    {
        users = await UserService.GetAll();
    }
}
