@page "/admin/orders"
@using GymShopBlazor.ApiService
@using GymShopBlazor.Models
@inject OrderService OrderService
@inherits LayoutComponentBase


<h3>Ordrar</h3>
<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Datum</th>
            <th>Status</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var order in orders)
        {
            <tr>
                <td>@order.Id</td>
                <td>@order.PurchaseDate</td>
                <td>@order.OrderStatus.Name</td>
            </tr>
        }
    </tbody>
</table>

@code {
    private List<OrderResponse> orders { get; set; }
    protected override async Task OnInitializedAsync()
    {
        orders = await OrderService.GetAll();
    }
}
