@page "/"
@using GymShopBlazor.ApiService
@using GymShopBlazor.Models

<head>
    <link href="css/product.css" rel="stylesheet" />
</head>


<div class="index-header">
    <img src="GymShopHeader.png" alt="Välkommen till Gym Shop"/>
</div>


@if (isLoading)
{
    <p>Laddar produkter...</p>
}
else
{
    <div class="product-container">
        @foreach (var category in categories)
        {
            var productsInCategory = products
            .Where(p => p.Category.Id == category.Id)
            .Take(6)
            .ToList();

            if (productsInCategory.Any())
            {
                <div class="category-section">
                    <h4>@GetTranslatedCategoryName(category.Name)</h4>
                    <div class="product-list">
                        @foreach (var product in productsInCategory)
                        {
                            <ProductComponent Product="product" OnAddToCart="HandleAddToCart" />
                        }
                    </div>
                </div>
            }
        }
    </div>
}

@code {
    private List<Product> products = new();
    private List<Category> categories = new();
    private bool isLoading = true;

    [Inject] private ProductService ProductService { get; set; } = default!;

    private Dictionary<string, string> categoryTranslations = new()
    {
        { "Clothes", "Träningskläder" },
        { "Supplements", "Kosttillskott" },
        { "Equipments", "Träningstillbehör" },
    };

    protected override async Task OnInitializedAsync()
    {
        products = await ProductService.GetAll();
        categories = await ProductService.GetCategories();
        isLoading = false;
    }

    private string GetTranslatedCategoryName(string categoryName)
    {
        if (categoryTranslations.ContainsKey(categoryName))
        {
            return categoryTranslations[categoryName];
        }
        return categoryName;
    }

    private void HandleAddToCart(Product product)
    {
        Console.WriteLine($"{product.Name} tillagd i varukorgen!");
    }
}
