.login-form {
    max-width: 600px;
    margin: 0 auto;
    padding: 2rem;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

    .login-form h3 {
        text-align: left;
        margin-bottom: 1rem;
    }

    .login-form p {
        text-align: left;
        margin-bottom: 2rem;
    }

    .login-form .form-label {
        font-weight: bold;
    }

    .login-form .btn-primary {
        width: 30%;
        padding: 0.75rem;
        background: black;
    }

    .login-form .reset-password-link {
        margin-top: 1rem;
        text-align: left;
    }



    .login-form .btn-secondary {
        width: 100%;
        padding: 0.75rem;
        margin-top: 1rem;
    }
