@page "/login"

<div class="login-form">
    <h3>Logga in på mina sidor</h3>
    <p>Välkommen till Gym Shop! Logga in med dina användaruppgifter</p>

    <div class="mb-3">
        <label for="email" class="form-label">E-post</label>
        <input type="email" class="form-control" id="email" placeholder="E-post" />
    </div>

    <div class="mb-3">
        <label for="password" class="form-label">Lösenord</label>
        <input type="password" class="form-control" id="password" placeholder="Lösenord" />
    </div>

    <button class="btn btn-primary">Logga in</button>

    <div class="reset-password-link">
        <NavLink href="/resetPassword">Jag har glömt mitt lösenord!</NavLink>
    </div>

    <h3>Är du ny kund?</h3>
    <NavLink href="/register" class="btn btn-secondary">Registrera dig här</NavLink>
</div>

@code {

}
