@page "/orderConfirmation"

<head>
    <link href="css/cart.css" rel="stylesheet" />
</head>

<div class="order-confirmation">
    <h3>Orderbekräftelse</h3>
    
    <p>Observera att detta är en fejkad order. Du kommer inte få några produkter. Butiken existerar inte.</p>


</div>



@code {

}
