@using GymShopBlazor.Models
<head>
    <link href="css/product.css" rel="stylesheet" />
</head>

<div class="product-card" @onclick="() => OnProductClick.InvokeAsync(Product)">
    <img src="@Product.ImageUrl" alt="@Product.Name" class="product-image" />
    
    <div class="product-info">
        <h4 class="product-name">@Product.Name</h4>
        <p class="product-price">@Product.Price.ToString() SEK</p>
    </div>
    
    <button class="add-to-cart-button" @onclick="AddToCart">Köp</button>
</div>

@code {
    [Parameter] public Product Product { get; set; }
    [Parameter] public EventCallback<Product> OnAddToCart { get; set; }
    [Parameter] public EventCallback<Product> OnProductClick { get; set; }

    private async Task AddToCart()
    {
        await OnAddToCart.InvokeAsync(Product);
    }
}