@page "/resetPassword"

<h3>Glömt lösenord?</h3>
<a>Du kan återställa förlorad information. Skicka ett meddelande till vår kundservice 
    nedan så hjälper vi dig att återställa ditt lösenord.
</a>

<input placeholder="E-post"/>
<input placeholder="Meddelande"/>
<button>Skicka</button>


@code {

}
