@page "/resetPassword"

<head>
    <link href="css/userstyling.css" rel="stylesheet" />
</head>

@if (!isMessageVisible)
{
    <div class="user-form">
        <h3>Glömt lösenord?</h3>
        <p>
            Du kan återställa förlorad information. <br/><br/>Skicka ett meddelande till vår kundservice via formuläret
            nedan så hjälper vi dig att återställa ditt lösenord.
        </p>



        <div class="mb-3">
            <label for="email" class="form-label">E-post</label>
            <input type="email" class="form-control" id="email" placeholder="E-post"/>
        </div>

        <div class="mb-3">
            <label for="message" class="form-label">Meddelande</label>
            <textarea class="form-control" id="message" rows="3" placeholder="Meddelande"></textarea>
        </div>

        <button class="btn btn-primary" @onclick="SendMessage">Skicka</button>
    </div>
}

@if (isMessageVisible)
{
    <div class="message-popup">
        @((MarkupString)message)
    </div>
}

@code {
    private bool isMessageVisible = false;
    private string message = string.Empty;

    [Inject] private NavigationManager Navigation { get; set; }

    private async Task SendMessage()
    {
        isMessageVisible = true;
        message = "Tack för ditt meddelande, vi återkommer till dig inom 24 timmar.";
        StateHasChanged();

        await Task.Delay(2000);

        message = "Observera att detta är en spökfunktion. <br />Du kommer inte få någon återkoppling.";
        
        StateHasChanged();

        await Task.Delay(2500);

        isMessageVisible = false;
        
        StateHasChanged();
        
        Navigation.NavigateTo("/");
    }
}
